<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crazy Guys Dance Academy</title>
    <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet"> -->
    <!-- style and script should be added same way as it is shown below -->
    style
     include style.css
     include style-contact.css
    script
     include script.js
</head>
<div id="navbar">
    <div id="logo">
        <img src="../static/logo2.png" alt="">
        <h1>CGDA</h1>
    </div>
    <ul>
        <li><a href="">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="">Services</a></li>
    </ul>
</div>
<div id="contact">
    <h1>Contact Us</h1>
    <div class="contactform">
        <form action="Node.js">
            <input type="text",class="name",name="name" placeholder="Enter Your Name"><br>
            <input type="Phone",class="Phone",name="Phone" placeholder="Enter Your Phone Number"><br>
            <input type="email",class="email",name="email" placeholder="Enter Your Email-Id"><br>
            <input type="text",class="address",name="address" placeholder="Enter Your Address"><br>
            <textarea name="desc" id="desc" cols="30" rows="10"placeholder="Enter Your Concern...."></textarea><br>
            <button id="btn" class="btn">Submit</button>
        </form>
    </div>
</div>

<footer id="footer">
    <span> Copyright &copy; www.CrazyGuysDanceAcademy.com | All Rights Reserved</span>
</footer>

</body>

</html>