<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crazy Guys Dance Academy</title>
    <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet"> -->
    <!-- style and script should be added same way as it is shown below -->
    style
     include style.css
    script
     include script.js
</head>
<body>
    <div id="navbar">
        <div id="logo">
            <img src="../static/logo2.png" alt="">
            <h1>CGDA</h1>
        </div>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">Services</a></li>
        </ul>
    </div>
        <section id="introsection">
               <h3> Welcome to Crazy Guys Dance Academy</h3>
               <h5>Eat  Sleep  Dance  Repeat.</h5>
        </section>
        <section id="missionsection" >
            <h3>Our Mission</h3>
            <div class="cards">

                <div class="card">
                    <h4>All Forms of Dance</h4>
                    <img src="../static/img1.png" alt="">
                    <div class="content">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed hic enim nisi commodi amet nostrum nemo voluptates, aliquid eum numquam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, officiis.
                    </div>
                </div>
                <div class="card">
                    <h4>Dance the way you like</h3>
                        <img src="../static/img2.jfif" alt="">
                        <div class="content">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed hic enim nisi commodi amet nostrum nemo voluptates, aliquid eum numquam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, officiis..
                        </div>
                    </div>
                    <div class="card">
                        <h4>Expert teaching</h4>
                        <img src="../static/img3.jpg" alt="">
                        <div class="content">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed hic enim nisi commodi amet nostrum nemo voluptates, aliquid eum numquam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, officiis.
                        </div>
                </div>
            </div>

        </section>
        <section id="sponsorsection">
            <h3>Our sponsors</h3>
            <div class="sponsor">
                <img src="../static/sponsors-img1.png" alt="Error sponsor image">
                <img src="../static/sponsors-img2.png" alt="Error sponsor image">
                <img src="../static/sponsors-img3.png" alt="Error sponsor image">
                <img src="../static/sponsor-img4.jfif" alt="Error sponsor image">
            </div>
        </section>
        <footer id="footer">
            <span> Copyright &copy; www.CrazyGuysDanceAcademy.com | All Rights Reserved</span>
        </footer>
    
</body>
</html>